@page "/category/create"
@page "/category/update/{categoryId:int}"

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images//loading.gif" alt="Loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@Title Category</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="Category" FormName="UpsertCategoryForm" OnValidSubmit="UpsertCategory">
                <DataAnnotationsValidator />
                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText @bind-Value="Category.Name" class="form-control" id="Name" placeholder="Name" />
                        <label for="Name">Name</label>
                        <ValidationMessage For="@(() => Category.Name)" />
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" disabled="@IsProcessing">
                                <i class="bi bi-floppy2-fill"></i> @Title
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a href="category" class="btn btn-secondary form-control" disabled="@IsProcessing">
                                <i class="bi bi-arrow-bar-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    private bool IsProcessing { get; set; } = true;
    [Parameter] public int CategoryId { get; set; }
    [SupplyParameterFromForm] private Category Category { get; set; } = new();
    private string Title { get; set; } = "Create";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategory();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategory()
    {
        if (CategoryId > 0)
        {
            Category = await categoryRepository.GetAsync(CategoryId);
            Title = "Update";
        }
    }

    private async Task UpsertCategory()
    {
        IsProcessing = true;
        if (CategoryId == 0)
        {
            await categoryRepository.CreateAsync(Category);
            await _JSRuntime.ToastrSuccess("Category Created Successfully");
        }
        else
        {
            await categoryRepository.UpdateAsync(Category);
            await _JSRuntime.ToastrSuccess("Category Updated Successfully");
        }
        IsProcessing = false;
        navigationManager.NavigateTo("category");
    }
}